ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 1.3sem;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: underline;
  text-decoration-style: solid;
}
li a:hover {
  background-color: #111;
}
.active {
  background-color:green;
}
.intro h1{
  padding-left:68%;
  margin-top:-31%;
  font-size: 4.3em;
}
.about{
  background-image: url(photo8.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  opacity:0.92;
}
.intro{

color: black;
  animation-name:charity;
  animation-duration: 3s;
}
@keyframes charity{
     0%   {color: black;}
  25%  {color:maroon;}
  50%  {color: darkblue;}
  100% {color: darkgreen;}
}

.contact{
  color:black;
  text-align: center;
  font-size: 2em;
  text-decoration: underline;
  text-transform: uppercase;
}
form{
  text-align: center;
  padding:20px;
  background-color:mediumaquamarine;
  font-size: 1.1em;

}
form input,form textarea{
    width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display:inline-block;
  border: 1px solid black;
  border-radius: 4px;


}
button{
  font-size: 1em;
  width: 50%;
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border:solid black;
  border-radius: 4px;
  cursor: pointer;
}
button:hover{
  background-color: red;
}
.dn{
  display:flex;
  align:center;
  background-color:floralwhite;
  
}

.dn h1{
  padding-top: 1em;
  padding-left: 11em;
  font-size: 3em;
  text-decoration: underline;
  text-transform: uppercase;
}
.item{
  background-color: floralwhite;
}
.item p{
  font-size: 1.5em;
}
.item button{
  width:20%;
}
.about h1{

  font-size: 2.7em;
  padding-top: 0.5em;
  color:tomato;
}
.about p{
  font-size: 1.5em;
  font-style: italic;
  color:white;

}